<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/header :: head}"></div>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div th:replace="~{fragments/nav :: nav}"></div>

<div class="container">
    <div class="error-container">
        <div class="error-code" th:text="${status}">500</div>
        <h2>Oups, une erreur est survenue !</h2>
        <p th:text="${error}">Erreur inconnue</p>
        <p th:if="${message}" th:text="${message}">Message détaillé</p>
        <p th:if="${exception}" th:text="${exception}">Exception détaillé</p>
        <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer }"></div>
<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>